@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('https://www.shutterstock.com/shutterstock/photos/1782100640/display_1500/stock-vector-school-notebook-background-d-flying-yellow-paper-airplanes-vector-cartoon-children-planes-in-air-1782100640.jpg');
  background-position: center center;
  background-size: cover; /* or contain */
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
.inputShadow{
  box-shadow: inset 4px 1px 8px 4px green;
}